<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<!-- google adsense-->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4021090588937253" crossorigin="anonymous"></script>
<!-- google search console -->
<meta name="google-site-verification" content="bYwWlKrL-ExMKgQ4rtapH7RM8CwPSBMmKpfMxjpTwcM" />
<!-- end custom head snippets -->
